.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03313f;
  padding: 16px 24px;
  color: white;
  border-bottom: 1px solid #444;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navButton {
  background-color: #636363;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.navButton:hover {
  background-color: #353535;
}
